<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular-ui-mask/dist/mask.js"></script>
    <link rel="stylesheet" href="izitoast/dist/css/iziToast.min.css">
    <script type="text/javascript" src="izitoast/dist/js/iziToast.min.js"></script>
    <script src="angular-clipboard/angular-clipboard.js"></script>
    <script type="text/javascript" src="angular.js"></script>
</head>


<body ng-app="wa" ng-controller="mainController" style="font-family: 'Segoe UI'; font-weight: lighter;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #1ebea5 !important">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button> <a class="navbar-brand" href="#" style="color: white !important"><b>MMLabs</b></a>
                </nav>
                <div class="row">
                    <div class="col-lg">
                        <br>
                        <div class="jumbotron">
                            <h2>
                                Olá Colaboradores,
                            </h2>
                            <h5>                        
                                O vídeo ao lado trás passo a passo como usar a ferramenta que gera o link.
                                Informamos que funciona APENAS para celulares de Supervisores e Gerentes.
                                O link também pode ser usado em outras redes sociais como instagram!
                            </h5>     
                        </div>
                    </div>
                    <div class="col-lg">
                        <br>
                        <div class="embed-responsive embed-responsive-21by9">
                            <video width="320" height="240" controls>
                                <source src="movie.mp4" type="video/mp4">
                              Your browser does not support the video tag.
                              </video>
                        </div>
                    </div>
                </div>
                <div class="row" style="background-color: #d8e8ea">
                    <div class="col-md">
                    </div>
                    <div class="col-md">
                        <br>
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputMatricula">
                                    Matrícula
                                </label>
                                <input type="text" ng-model="matricula" class="form-control" id="exampleInputMatricula" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputNumber">
                                    Seu número
                                </label>
                                <input type="text" ng-model="telefone" ui-mask="(99)99999-9999" class="form-control" id="exampleInputNumber" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputMessage">
                                    Mensagem
                                </label>
                                <textarea class="form-control" id="exampleInputMessage" rows="4" cols="50" ng-model="mensagem"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="criarLink()" style="background-color: #01e675; border-color: #01e675">
                                Criar link
                            </button>
                        </form>
                        <br>
                    </div>
                    <div class="col-md"></div>
                </div>
            </div>
        </div>
        <footer class="page-footer font-small blue pt-4" style="color: teal">
            <div class="footer-copyright text-center py-3"><b>© 2018 MMLabs</b></a>
                <p></p>
            </div>
        </footer>
    </div>
</body>

</html>